.root {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2.83px 2.83px 38px -5px rgba(0, 0, 0, 0.2);
}

.p {
    padding: 0px;
    color: #333;
}

.h2 {
    padding: 0px;
    color: #333;
}

.img {
    width: 100%;
}

.buttonDiv {
    width: 100%;
    display: flex;
}

button {
    width: 100%;

}