.root {
    display: grid;
    grid-template-rows: 5fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11px;
    justify-items: center;
    background-color: #333;
    color: white;
    flex-grow: 7;
    grid-row-end: 4;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.footerUl {
    list-style-type: none;
    padding: 0;

}

a {
    color: #78FFCE;
    cursor: pointer;
}


a:hover {
    color: #5BDAAC;
    background-color: transparent;
    text-decoration: underline;
}