.root {
    padding: 20px;
    background-color: #5BDAAC;
  
}


.footerUl {
    list-style-type: none;
    padding: 0;

}

.a {
    color: #333;
    cursor: pointer;
}

.searchInput {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}





