.root {
    padding: 20px;
    background-color: #5BDAAC;
    display: grid;
    grid-template-rows: none;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;

}


.footerUl {
    list-style-type: none;
    padding: 0;

}

.link {
    color: #333;
    cursor: pointer;
}

.searchInput {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}